@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <test-list v-anime="{ rotate: '1turn', backgroundColor: '#FFF', duration: 2000, loop: true }">
        </test-list>
    </div>
</div>