<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="@("https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css")" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="~/css/site.css"/>
</head>
<body>
    <div id="app">
        <v-app>
            <app-header>
            </app-header>
            <v-main>
                <v-container fluid>
                    @RenderBody()
                </v-container>
            </v-main>
            
        </v-app>
    </div>
    <environment include="Development">
        <script src="~/dist/js/app.js"></script>
    </environment>
</body>
</html>
